div#product-list{
    width: 1200px;
    margin: auto;
}

button#add-product-button{
    display: flex;
    float: right;
    margin-right: 100px;
    background-color: #c17e79;
    padding: 7px 5px 7px 5px;
    border-radius: 5px;
    border: #c17e79;
    color: aliceblue;

}
p.filter{
    margin-left: 55px;
    color: #916F6D;
    font-family: serif;
    font-size: large;
}
select.select{
    margin-left: 5px;
    background-color:#ebcfbf;
    border: #ebcfbf;
    color: #916F6D ;
}

div.list-options{
    padding-top: 25px;
    margin-bottom: 25px;
}
div.details{
    display: flex;
}

div.card{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

img.card-image{
    display: flex;
    float: right;
    margin: auto;
}

div.Foundation.card{
    background-color: #EFB38F!important;
    border-radius: 20px;
}

div.Blush.Bronzer.card{
    background-color: #F7AB9B!important;
    color: aliceblue;
    border-radius: 20px;
}

div.Lips.card{
    background-color: #E0E8DD!important;
    border-radius: 20px;
}

div.Eyes.card{
    background-color: #FEDBB3!important;
    border-radius: 20px;
}

div.Skin.Care.card{
    background-color: #D1E7E4!important;
    border-radius: 20px;
}

button#back-button{
    display: flex;
    float: right;
    margin-right: 100px;
    background-color: #c17e79;
    padding: 7px 5px 7px 5px;
    border-radius: 5px;
    border: #c17e79;
    color: aliceblue;

}